<ion-content>

    <ion-img src="../../assets/back.PNG"></ion-img>

    <div class="btn-back">
        <ion-chip outline="true" color="white" (click)="dismissModal()">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <ion-label>Volver</ion-label>
        </ion-chip>
    </div>


    <div class="headertext">
        <h1>Escanear QR</h1>
    </div>

    <div class="icon-center">
        <div class="icon-align">
            <ion-button shape="round" (click)="ReadCode()" fill="clear">
                <ion-icon name="qr-code" color="light"></ion-icon>
            </ion-button>
        </div>
    </div>

    <ion-card *ngIf="datoscaneado">
        <ion-card-header>
            <ion-label>
                <h1>A donde quiere tranferir</h1>
            </ion-label>
        </ion-card-header>

        <ion-label>
            <h1 style="margin-left: 2%;">Cuentas corrientes</h1>
        </ion-label>
                        <div class="">
                            <div *ngFor="let cuentaCorriente of cuentaCorriente" >
                                <div class=" credit-card ">
                                    <div class="credit-card visa selectable ">
                                        <div class="credit-card-last4 ">
                                            {{cuentaCorriente.cuenta}}
                                        </div>
                                        <br><br>
                                        <div class="credit-card-expiry "> saldo: $ {{cuentaCorriente.saldo}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            <div >
                <ion-label>
                    <h1  style="margin-left: 2%;">Cuentas de ahorro</h1>
                </ion-label>
                <div class="">
                    <div *ngFor="let cuentaAhorro of cuentaAhorro" >
                        <div class=" credit-card ">
                            <div class="credit-card mastercard selectable ">
                                <div class="credit-card-last4 ">
                                    {{cuentaAhorro.cuenta}}
                                </div>
                                <br><br>
                                <div class="credit-card-expiry "> saldo: $ {{cuentaAhorro.saldo}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

    </ion-card>



</ion-content>