.mensaje {
    margin-top: 5%;
    color: #004481
}

.btn-back {
    color: white;
    position: absolute;
    top: 2%;
}

.headertext {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #004481
}