.btn-back {
    color: white;
    position: absolute;
    top: 2%;
}

.headertext {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #004481
}

.subheader {
    margin-bottom: 20%;
    text-align: center;
    font-size: 15px;
    color: darkblue;
}

.btn {
    margin-left: 5%;
    margin-right: 5%;
}

.email {
    margin-left: 5%;
    margin-right: 5%;
}