<ion-content>
    <ion-img src="../../../assets/back.PNG"></ion-img>

    <div class="btn-back">
        <ion-chip outline="true" color="white" (click)="Login()">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <ion-label>Volver</ion-label>
        </ion-chip>
    </div>

    <div class="headertext">
        <h1>¿Olvidaste la contraseña?</h1>
    </div>

    <ion-col>
        <form [formGroup]="ValidationFormUSer" (ngSubmit)="registerUser(ValidationFormUSer.value)">
            <ion-list>
                <div class="email">
                    <ion-item>
                        <ion-label position="floating">Correo electrónico</ion-label>
                        <ion-input name="user" type="text" required></ion-input>
                    </ion-item>
                </div>
            </ion-list>
        </form>
    </ion-col>

    <div class="subheader">
        <span>
            Escribe el correo electronico asociado a tu cuenta
        </span>
    </div>

    <div class="btn">
        <ion-button type="submit" expand="full" shape="round" fill="solid" color="primary" (click)="registerUser(ValidationFormUSer.value)">
            Enviar
        </ion-button>
    </div>

</ion-content>