.btn-back {
    color: white;
    position: absolute;
    top: 2%;
}

.headertext {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #004481
}

.footer {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.error_message {
    color: red;
    font-size: 11px;
}