.mensaje {
    margin-top: 5%;
    color: #004481
}

.btn-back {
    color: white;
    position: absolute;
    top: 2%;
}

.headertext {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-weight: bold;
    color: #004481
}

.email {
    margin-left: 5%;
    margin-right: 5%;
}

.error_message {
    color: red;
    font-size: 11px;
}