.saludo {
    color: white;
    position: absolute;
    top: 5%;
}

.body {
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

.mensaje {
    margin-top: 5%;
    color: #004481
}

.btn-register {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.btn-login {
    margin-left: 5%;
    margin-right: 5%;
}

.footer {
    margin-top: 20%
}